$primary: rgba(0, 87, 226, 1);
$secondary: rgba(69, 251, 255, 1);
$text-primary: rgba(254, 254, 255, 1);
$text-secondary: rgba(255, 255, 255, 0.7);
$table-head-bg: rgba(187, 187, 187, 1);
$table-border: rgba(186, 186, 186, 1);
$table-bg: rgba(19, 28, 37, 1);
$background: rgba(2, 21, 40, 1);
